<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
    <link href="/cs551/assets/styles/article.css" rel="stylesheet"
	  type="text/css" />
    <link href="/cs551/assets/styles/hl-fine_blue.css" rel="stylesheet"
	  type="text/css" />
    <link href="/cs551/exercises/questions.css" rel="stylesheet"
	  type="text/css" /> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML" async=""></script>
    <title>CS 551: Exercises</title>
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/cs551/index.html" class="material-icons">house</a></li>
	<li><a href="/cs551/docs/index.html">Docs</a></li>
	<li><a href="/cs551/exercises/index.html">Exercises</a></li>
	<li><a href="/cs551/hw/index.html">Homework</a></li>
	<li><a href="/cs551/misc/index.html">Misc</a></li>
	<li><a href="/cs551/projects/index.html">Projects</a></li>
	<li><a href="/cs551/slides/index.html">Slides</a></li>
	<!-- login does not work for exercises -->
	<li><a id="loginAction"></a></li>
      </ul>
    </nav>
    <div class="content">
      <section><h1>Exercises</h1>
	<div id="exercise">
	</div>
      </section>
    </div> <!-- #content -->
    <script src="/cs551/assets/scripts/loginAction.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/cs551/exercises/index.js"></script>
  </body>
</html>
